name: Test Workflow

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Testing pwd
        run: pwd

      - name: Testing printing
        run: echo hello





